.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(0px + 2vmin);
  color: white;
}

.App-logo {
  height: 30vmin;
}

.rotate-slow {
  animation: App-logo-spin infinite 20s linear;
}

.rotate-too-fast {
  animation: App-logo-spin infinite 0.5s linear;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.list {
  list-style: none;
}

.list-group-item-trueDark {
  background: #282828;
  color: white; 
}

table {
  font-size: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Text editor */
.textEditor {
  margin: 1em auto;
  width: 70%;
  padding: 10px;
  border: 2px solid grey;
  text-align: start;
}

.format-toolbar {
  display: flex;
  border-bottom: solid 1px black;
  padding: 10px 0;
  margin: 0 0 10px 0;
}

.tooltop-icon-button {
  border: 0;
}